.deal-card {
  border-radius: 15px;
  background: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}
.deal-card:hover {
  transform: scale(1.05) rotateY(5deg);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.time-box {
  border: 1px solid red;
  border-radius: 6px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  color: red;
  text-align: center;
}
